article.welcome {
  text-align: center;
  margin: 0 auto;
  padding: 2em 0;

  h1 {
    padding: .5em 0;

    &:before, &:after {
      content: '';
      display: block;
      border-top: 1px solid;
      width: 2em;
      margin: 0 auto;
    }

  }

  @include breakpoint(medium up) {

    @include grid-row($width: 50%);

  }

}

article.calendar {
  @include grid-row($width: 95%);
  margin-bottom: 2em;
  margin-top: 2em;

  section {
    background: $gray;
    padding: 1em;
    color: $white;

    h1 { font-size: 24px; }

    @include breakpoint(medium up) {
      @include grid-col(4);
    }

  }

  iframe {

    @include breakpoint(medium up) {
      @include grid-col(8);
    }

  }

}

article.login {
  @include grid-row($width: 80%);
  @include grid-col(8);
  @include grid-column-position(center);
  margin-top: 2em;
  margin-bottom: 2em;
}
