article.welcome {
  @include grid-row($width: 50%);
  text-align: center;
  margin: 0 auto;
  padding: 2em 0;

  h1 {
    padding: .5em 0;

    &:before, &:after {
      content: '';
      display: block;
      border-top: 1px solid;
      width: 2em;
      margin: 0 auto;
    }

  }

}
