footer {
  @include grid-row($width: 100%);
  background: $gray;
  padding: 1em;
  text-align: center;
  color: silver;
  min-height: 300px;

  ul {
    list-style: none;
    padding-top: 1em;
    margin: 0;

    @include breakpoint(medium up) {
      @include grid-column(4);
    }

    @include breakpoint(small) {
      margin-bottom: 1em;
    }

  }

  p {
    @include grid-col(12);
  }

  a {
    color: $white;
  }

}
