@include foundation-top-bar;

header {
  @include grid-row;

  nav {

    @include breakpoint(medium up) {
      @include grid-col(6);
    }

  }

  .top-bar-left {

    ul {

      li {

        a {
          color: $black;

          @include breakpoint(medium up) {
            line-height: 20px;
          }

        }

      }

    }

  }

  .logo {
    text-align: center;
    padding: 1em;
    width: 250px;
    float: right;

    @include breakpoint(small only) {
      width: 100%;
    }

  }

}
