<footer>
  <ul>
    <li><strong>Management:</strong></li>
    <li>CAP MANAGEMENT</li>
    <li>910 16th St. Suite 1010</li>
    <li>Denver, CO 80202</li>
    <li><a href="http://www.capmanagement.com">www.capmanagement.com</a></li>
  </ul>

  <ul>
    <li><strong>Property Manager:</strong></li>
    <li>Emma DeMango</li>
    <li>(303) 832-2971 ext:<strong> 308</strong></li>
    <li><a href="mailto:emma@capmanagement.com">emma@capmanagement.com</a></li>
  </ul>

  <ul>
    <li><strong>Helpful Links:</strong></li>
    <li><a href="http://capmanagement.com/ach">ACH Setup</a></li>
    <li><a href="https://www.rentpayment.com/pay/login.html">Pay Online</a></li>
    <li><a href="http://www.capmanagement.com/blog">CAP Blog</a></li>
  </ul>

  <p>
    <small>
      <strong>Powered By: </strong>
      <a href="http://www.hoawebsitecompany.com">The <strong>HOA</strong> Website Company</a>
    </small>
  </p>
</footer>
